[Unit]
Description=OpenStack Masakari Scheduler
After=postgresql.service mysql.service keystone.service rabbitmq-server.service ntp.service 



[Service]
User=ubuntu
Group=ubuntu
Type=simple
WorkingDirectory=/var/lib/masakari
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/lock/masakari /var/log/masakari /var/lib/masakari /etc/masakari
ExecStartPre=/bin/chown ubuntu:ubuntu /var/lock/masakari /var/lib/masakari
ExecStartPre=/bin/chown ubuntu:adm /var/log/masakari
ExecStartPre=/bin/chgrp -R ubuntu /etc/masakari
ExecStart=/usr/local/bin/masakari-engine
Restart=on-failure
LimitNOFILE=65535
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target


